/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  border-color: #333;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar.sticky {
  overflow: hidden;
  background-color: #333;
  padding-right: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.portrait {
    height: 100%;
    width: 40px;
}
.landscape {
    height: 100%;
    width: auto;
}
.square {
    height: 100%;
    width: auto;
}

a:visited {
    color: blue;
}
a:hover {
    color: red;
}
/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
#navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
    
}

.box {
    float: center;
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 0px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Page content */
.content {
  padding: 0px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  padding-right: 20px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
#navbar + .content {
  padding-top: 120px;
}


#navbaright a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar a.alert {
    background-color: red;
    color: white;
}

#navbar a.login {
    background-color: green;
    color: white;
}
/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  float: left;
  padding-bottom: 0px;
}

/*iframe {*/
/*  height: 800px;*/
/*  width: 80%;*/
/*  resize: auto;*/
/*  overflow: show;*/
/*}*/

/* Background code */
body {
    background-color: #000000;
    font-family: "Comic Sans MS", "Georgia", "Courier";
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    min-width: 300px;
}

.btn {
  border: #ffffff;
  background-color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}
.purchase {color: green;}
.news {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* Green */
.success {
	 background-color: #B010F6;
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.info {
	 background-color: inherit;
     color: blue;
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
	 background-color: #B010F6;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
	 background-color: #B010F6;
    color: red;
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
	 background-color: #B010F6;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('Games/TemplateData/progressLogo.Dark.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('Games/TemplateData/progressEmpty.Dark.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('Games/TemplateData/progressFull.Dark.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('Games/TemplateData/progressLogo.Light.png');}
.webgl-content .progress.Dark .empty {background-image: url('Games/TemplateData/progressEmpty.Light.png');}
.webgl-content .progress.Dark .full {background-image: url('Games/TemplateData/progressFull.Light.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('Games/TemplateData/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('Games/TemplateData/fullscreen.png'); width: 38px; float: right;}
